body {
  background: rgb(8, 28, 34);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

#container-father {
  display: flex;
  justify-content: center;
}
#container {
  width: 1100px;
  height: 800px;
}
.text {
  display: flex;
  color: white;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}
h3 {
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 630px) {
  h1 {
    font-size: 16px;
  }
}
